.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
  }
  
  .login-card {
    width: 300px;
  }
  
  .full-width {
    width: 100%;
  }
  .toast-success-title, .toast-error-title {
    color: white !important;
  }
  
  .toast-success-icon, .toast-error-icon {
    color: white !important;
  }
  