.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    background-image: url("../../../assets/images/airfox-removebg-preview.png");
    background-image: url("../../../assets/images/airfox-removebg-preview.png");
    background-size: contain; /* Adjust the value to customize how the image fits */
    background-position: center; /* Adjust the value to position the image */
    background-repeat: no-repeat; 
  }
  
  .login-card {
    width: 300px;
  }
  
  .full-width {
    width: 100%;
  }
  .toast-success-title, .toast-error-title {
    color: white !important;
  }
  
  .toast-success-icon, .toast-error-icon {
    color: white !important;
  }
  