<!-- Color Changer -->
<!-- <div class="theme-settings" id="switcher">
    <span class="theme-click">
        <span class="ti-settings"></span>
    </span>
    <span class="theme-color theme-default theme-active" data-color="blue"></span>
    <span class="theme-color theme-blue" data-color="blue"></span>
    <span class="theme-color theme-red" data-color="red"></span>
    <span class="theme-color theme-violet" data-color="violet"></span>
    <span class="theme-color theme-yellow" data-color="yellow"></span>
</div> -->
<div class="wrapper"  [ngClass]="{'sidebar-collapsed': sidebarCollapsed}">
    <!-- Sidebar -->
    <nav id="sidebar" class="bg bg-primary" style="width: 50px;">
        <div class="sidebar-header">
            <img src="../../../assets/images/airfox.png" alt="Logo" class="logo">
        </div>
        
        <ul class="list-unstyled components">
            <li class="active">
                <a [routerLink]="['darsh']">
                    <span class="ti-home"></span> Dashboard
                </a>
            </li>
            <li>
                <a href="#nav-patients" data-toggle="collapse" aria-expanded="false">
                    <span class="ti-user"></span> Applicant
                </a>
                <ul class="collapse list-unstyled" id="nav-patients">
                    <li *ngIf="userOnly">
                        <a [routerLink]="['add-cust']">Add Applicant</a>
                    </li>
                    <li>
                        <a [routerLink]="['all-cust']">All Applicants</a>
                    </li>
                    <li>
                        <a [routerLink]="['all-cust']">Pending Applicants</a>
                    </li>

                </ul>
            </li>
            <li *ngIf="addminOnly">
                <a href="#nav-doctors" data-toggle="collapse" aria-expanded="false">
                    <span class="ti-files"></span> Files Configuration
                </a>
                <ul class="collapse list-unstyled" id="nav-doctors">
                    <li>
                        <a [routerLink]="['ircc-file']">IRCC Files</a>
                    </li>
                    <li>
                        <a [routerLink]="['prepared-file']">Prepered Files</a>
                    </li>
                    <li>
                        <a [routerLink]="['applicant-file']">Applicant Files</a>
                    </li>

                </ul>
            </li>
            <li *ngIf="addminOnly">
                <a href="#nav-investers" data-toggle="collapse" aria-expanded="false">
                    <span class="ti-briefcase"></span> Investors
                </a>
                <ul class="collapse list-unstyled" id="nav-investers">
                    <li>
                        <a href="add-doctor.html">Add Investors</a>
                    </li>
                    <li>
                        <a href="doctors.html">All Investors</a>
                    </li>

                </ul>
            </li>
        </ul>

    </nav>
    <!-- /Sidebar -->
    <!-- Page Content -->
    <div id="content">
        <!-- Top Navigation -->
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="responsive-logo">
                    <img src="../../../assets/images/airfox-removebg-preview.png" alt="Logo" class="logo">
                </div>
                <ul class="nav">
                    <li class="nav-item" (click)="toggleSidebar()">
                        <span class="ti-menu"></span>
                    </li>
                    <li class="nav-item">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                            aria-expanded="false">
                            <span class="ti-user"></span>
                        </a>
                        <div class="dropdown-menu proclinic-box-shadow2 profile animated flipInY">
                            <h5 class="text-center ">{{username}}</h5>
                            <a class="dropdown-item" href="#">
                                <span class="ti-settings"></span> Settings</a>
                            <!-- <a class="dropdown-item" href="#">
                                <span class="ti-help-alt"></span> Help</a> -->
                            <a class="dropdown-item" href="#" (click)="logout()">
                                <span class="ti-power-off"></span> Logout
                            </a>
                        </div>
                    </li>
                </ul>

            </div>
        </nav>
        <!-- /Top Navigation -->
        <!-- Main -->

        <router-outlet>

        </router-outlet>
    </div>
    <!-- /Page Content -->
</div>
<!-- Back to Top -->
<a id="back-to-top" href="#" class="back-to-top">
    <span class="ti-angle-up"></span>
</a>