#header{
    background-color: #e28743;
}
img {
    width: 50px;
    height: 50px;
}
mat-form-field{
    width: 100%;
}
.profile-card {
  max-width: 1200px;
  margin: 20px auto;
}

.avatar-container {
  position: s;
}

.profile-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.avatar-placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #e0e0e0; /* Placeholder color */
}
.watermark-container {
  position: relative; /* Ensure the container is positioned relative */
}

.center-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo {
  width: 100px; /* Adjust the width of the logo as needed */
  height: 100px; /* Adjust the height of the logo as needed */
  border-radius: 50%; /* Make the logo circular */
  object-fit: cover; /* Ensure the image covers the entire circle */
}

/* Hide all elements except the investor-details-container and its descendants when printing */
@media print {
  body * {
    display: none !important;
  }

  button {
    display: none !important; /* Hide the edit button */
  }
  #header {
    display: none !important; /* Hide the edit button */
  }
    /* Adjust font sizes */
    body {
      font-size: 10pt;
    }
    /* Reduce margins and paddings */
    #investor-details-container {
      margin: 0;
      padding: 0;
    }
    /* Optimize table layout */
    table {
      table-layout: fixed;
      width: 100%;
    }
  
}
.qr-code{
  width: 100px; 
  height:100px;
 
}
.background-logo {
  /* Set background image */
  background-image: url('../../../assets/images/airfox.png');
  /* Position background image */
  background-position: center;
  /* Size background image */
  background-size: contain;
  /* Repeat background image if needed */
  background-repeat: no-repeat;
  /* Add any other styling as needed */
}

/* Optionally, you can style the content to ensure it's visible on top of the background image */
.widget-area-2 {
  position: relative;
}

.widget-area-2 .background-logo {
  position: relative;
  z-index: 1; /* Ensure content is above the background image */
}

.widget-area-2 .background-logo:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.9); /* Adjust opacity as needed */
  z-index: -1; /* Place behind content */
}




