<div id="content">

    <div class="row no-margin-padding" id="header">
        <div class="col-md-6">
            <h3 class="block-title">Investors</h3>
        </div>
        <div class="col-md-6">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="index.html">
                        <span class="ti-home"></span>
                    </a>
                </li>
                <li class="breadcrumb-item">Investors</li>
                <li class="breadcrumb-item active">Investors Details</li>
            </ol>
        </div>
    </div>
    <div class="container-fluid">

        <div class="row">
            <!-- Widget Item -->
            <div class="col-md-12">
                <div class="widget-area-2 proclinic-box-shadow">
                    <h3 class="widget-title">Investors Details</h3>
                    
                    <div class="row">
                        <div class="col-md-4">
                            <mat-card class="example-card">
                                <mat-card-header>
                                  <div mat-card-avatar class="example-header-image"></div>
                                  <div class="avatar-container">
                                    <!-- <img *ngIf="profileImage" [src]="getBase64Image(imageFile[0])" class="profile-img" alt="Profile Image" /> -->
                                    <div class="avatar-placeholder mat-elevation-z2">
                                      <mat-icon>account_circle</mat-icon>
                                    </div>
                                  </div> 
                                </mat-card-header>
                                <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
                                <mat-card-content>
                                    <mat-list role="list">
                                        <mat-list-item role="listitem">Item 1</mat-list-item>
                                        <mat-list-item role="listitem">Item 2</mat-list-item>
                                        <mat-list-item role="listitem">Item 3</mat-list-item>
                                      </mat-list>                              
                                </mat-card-content>
                                <mat-card-actions>
                                  <button mat-button>LIKE</button>
                                  <button mat-button>SHARE</button>
                                </mat-card-actions>
                              </mat-card>
                        </div>
                        <div class="col-md-8">
                            <table class="table table-striped">
                                <thead>
                                  <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">First</th>
                                    <th scope="col">Last</th>
                                    <th scope="col">Handle</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <th scope="row">1</th>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                  </tr>
                                  <tr>
                                    <th scope="row">2</th>
                                    <td>Jacob</td>
                                    <td>Thornton</td>
                                    <td>@fat</td>
                                  </tr>
                                  <tr>
                                    <th scope="row">3</th>
                                    <td colspan="2">Larry the Bird</td>
                                    <td>@twitter</td>
                                  </tr>
                                </tbody>
                              </table>
                              <table class="table table-striped">
                                <thead>
                                  <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">First</th>
                                    <th scope="col">Last</th>
                                    <th scope="col">Handle</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <th scope="row">1</th>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                  </tr>
                                  <tr>
                                    <th scope="row">2</th>
                                    <td>Jacob</td>
                                    <td>Thornton</td>
                                    <td>@fat</td>
                                  </tr>
                                  <tr>
                                    <th scope="row">3</th>
                                    <td colspan="2">Larry the Bird</td>
                                    <td>@twitter</td>
                                  </tr>
                                </tbody>
                              </table>
                        </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <table class="table table-striped">
                            <thead>
                              <tr>
                                <th scope="col">#</th>
                                <th scope="col">First</th>
                                <th scope="col">Last</th>
                                <th scope="col">Handle</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                              </tr>
                              <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>@fat</td>
                              </tr>
                              <tr>
                                <th scope="row">3</th>
                                <td colspan="2">Larry the Bird</td>
                                <td>@twitter</td>
                              </tr>
                            </tbody>
                          </table>
                      </div>
                    </div>
                      
                      
                </div>
            
                  
            </div>
            <!-- /Widget Item -->
        </div>
    </div>

</div>