	<!-- Page Content -->
    <div id="content">
      
        <!-- Breadcrumb -->
        <!-- Page Title -->
        <div class="row no-margin-padding">
            <div class="col-md-6">
                <h3 class="block-title">Applicant Details</h3>
            </div>
            <div class="col-md-6" >
                <ol class="breadcrumb">						
                    <li class="breadcrumb-item">
                        <a href="index.html">
                            <span class="ti-home"></span>
                        </a>
                    </li>
                    <li class="breadcrumb-item">Applicant</li>
                    <li class="breadcrumb-item active">Applicant Details</li>
                </ol>
            </div>
        </div>
        <!-- /Page Title -->

        <!-- /Breadcrumb -->
        <!-- Main Content -->
        <div class="container-fluid">

            <div class="row">
              
<hr>
<div class="col-md-12">
    <div class="container-fluid">
        <div class="card">
           <div class="card-body">
            <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
                <mat-tab label="Personal Information">
                    <mat-card class="profile-card">
                        <mat-card-header>
                          <!-- <mat-card-title>{{ username }}</mat-card-title> -->
                        </mat-card-header>
                        <mat-card-content fxLayout="row">
                          <div fxLayout="column" fxLayoutAlign="center center" fxFlex="30">
                            <div class="avatar-container">
                              <img *ngIf="profileImage" [src]="profileImage" class="profile-img" alt="Profile Image" />
                              <div *ngIf="!profileImage" class="avatar-placeholder mat-elevation-z2">
                                <mat-icon>account_circle</mat-icon>
                              </div>
                              <!-- <input type="file" (change)="onFileSelected2($event)" accept="image/*" class="file-input" /> -->
                            </div><hr>
                            <button mat-raised-button color="success" (click)="saveImage()">Edit</button>

                          </div>
                          <hr>
                          <div fxLayout="column" fxFlex="70">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>											
                                        <td><strong>Full Name</strong></td>
                                        <td>{{ applicantDetailsModel.applicantfullName }}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Email</strong></td>
                                        <td>{{ applicantDetailsModel.applicantemailAddress}}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Passport No:</strong></td>
                                        <td>{{ applicantDetailsModel.applicantpassportNumber}}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>National ID no:</strong></td>
                                        <td>{{ applicantDetailsModel.applicantnationalIdNumber}}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Website</strong></td>
                                        <td>{{ applicantDetailsModel.applicantwebsite}}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Occupation</strong></td>
                                        <td>{{ applicantDetailsModel.applicantoccupation}}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Martial Status</strong></td>
                                        <td>{{ applicantDetailsModel.applicantmarriedStatus}}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Phone No:</strong></td>
                                        <td>{{ applicantDetailsModel.applicantphoneNumber}}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Address</strong></td>
                                        <td>{{applicantDetailsModel.applicanthomeAddress}}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Business Number</strong></td>
                                        <td>{{ applicantDetailsModel.applicantbusinessNumber }}</td>
                                    </tr>
                                    
                                  <!-- Add more rows as needed for other fields -->
                                </tbody>
                              </table>
                          </div>
                        </mat-card-content>
                      </mat-card>
                </mat-tab>
                <mat-tab label="Kin Information">
                    <div class="col-md-12">
                        <div class="widget-area-2 proclinic-box-shadow" style="height: 700px;">
                            <h3 class="text-center"><b>Father Details</b></h3>
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr>										
                                            <th>Full Name</th>
                                            <th>Nationality </th>
                                            <th>Address</th>
                                            <th>Marriage Status</th>
                                            <th>Occupation</th>
                                            <th>DOB</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let fatherDetail of fatherDetailsArray">
                                            <td>{{ fatherDetail.fatherfull_name }}</td>
                                            <td>{{ fatherDetail.fathernationality }}</td>
                                            <td>{{ fatherDetail.fatherhome_address}}</td>
                                            <td>{{ fatherDetail.fathermarried_status }}</td>
                                            <td>{{ fatherDetail.fatheroccupation }}</td>
                                            <td>{{ fatherDetail.fatherdate_of_birth | date: 'yyyy-MM-dd' }}</td>
    
                                            <td>  <button type="button" class="btn btn-success "><span class="ti-pencil-alt"></span> Edit </button></td>
    
                                        </tr>						
                                    </tbody>
                                </table>
    
                            </div>
                            <h3 class="text-center"><b>Mother Details</b></h3>
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr>										
                                            <th>Full Name</th>
                                            <th>Nationality </th>
                                            <th>Address</th>
                                            <th>Marriage Status</th>
                                            <th>Occupation</th>
                                            <th>DOB</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let motherDetail of motherDetailsArray">
                                            <td>{{ motherDetail.motherfull_name }}</td>
                                            <td>{{ motherDetail.mothernationality }}</td>
                                            <td>{{ motherDetail.motherhome_address}}</td>
                                            <td>{{ motherDetail.mothermarried_status }}</td>
                                            <td>{{ motherDetail.motheroccupation }}</td>
                                            <td>{{ motherDetail.motherdate_of_birth | date: 'yyyy-MM-dd' }}</td>
                                            <td> <button type="button" class="btn btn-success "><span class="ti-pencil-alt"></span> Edit </button>                                        </td>
    
                                        </tr>						
                                    </tbody>
                                </table>
    
                            </div>
                            <h3 class="text-center"><b>Wife Details</b></h3>
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr>										
                                            <th>Full Name</th>
                                            <th>Nationality </th>
                                            <th>Address</th>
                                            <th>Occupation</th>
                                            <th>DOB</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let wifeDetail of wifeDetailsArray">
                                            <td>{{ wifeDetail.wife_name }}</td>
                                            <td>{{ wifeDetail.wifenationality }}</td>
                                            <td>{{ wifeDetail.wifehome_address}}</td>
                                            <td>{{ wifeDetail.wifeoccupation }}</td>
                                            <td>{{ wifeDetail.wifedate_of_birth | date: 'yyyy-MM-dd' }}</td>
                                            <td> <button type="button" class="btn btn-success "><span class="ti-pencil-alt"></span> Edit </button>                                        </td>
    
                                        </tr>						
                                    </tbody>
                                </table>
    
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Applicant Files">
                    <div class="col-md-12">
                        <div class="widget-area-2 proclinic-box-shadow">
                           <div class="d-flex justify-content-between">
                            <h3 class="widget-title">Applicant Attachment</h3>
                            <button type="button" class="btn btn-success " (click)="openDialogAddFile() "><span class="ti-pencil"></span> Add File </button>
                           </div>
                            <div class="table-responsive">
                                <!-- <input matInput (keyup)="applyFilter($event)" placeholder="Search"> -->
                                <mat-form-field appearance="outline" style="width: 25%;">
                                    <mat-label>Search</mat-label>
                                    <input matInput (keyup)="applyFilter($event)" placeholder="Search...">
                                  </mat-form-field>
                                  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    
                                    <!-- Define the columns -->
                                    <ng-container *ngFor="let column of displayedColumns; let i = index" [matColumnDef]="column">
                                      <th mat-header-cell *matHeaderCellDef>{{ column }}</th>
                                      <td mat-cell *matCellDef="let element">
                                        <ng-container *ngIf="i !== displayedColumns.length - 1; else actionsColumn">
                                          {{ element[column] }}
                                        </ng-container>
                                        <ng-template #actionsColumn>
                                          <button mat-icon-button (click)="downloadFile(element)">
                                            <mat-icon>cloud_download</mat-icon>
                                          </button>
                                          <button mat-icon-button (click)="previewFile(element)">
                                            <mat-icon>visibility</mat-icon>
                                          </button>
                                          <button mat-icon-button (click)="deleteFile(element)">
                                            <mat-icon>delete</mat-icon>
                                          </button>
                                        </ng-template>
                                      </td>
                                    </ng-container>
                                  
                                    <!-- Set up the table rows -->
                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                  </table>
                                
                                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                                
                            </div>
                            
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Prepered Files">
                 <p></p>
                </mat-tab>
                <mat-tab label="IRCC Files">
                    <p></p>
                   </mat-tab>
              </mat-tab-group>
           </div>
           
        </div>
    </div>
</div>

  

<!-- Dialog For Add User Form -->
<ng-template #addFile>
          <div class="card">
            <form #myForm="ngForm" (ngSubmit)="uploadFile()" enctype="multipart/form-data">

            <div class="card-header">
              <h4>Upload File</h4>
            </div>
            <div class="card-body">
                <mat-form-field>
                    <mat-label>Select File Name</mat-label>
                    <mat-select placeholder="Marriage Status" name="file_name" [(ngModel)]="applicantandfile_model.file_name">
                      <mat-option value="Birth Certificate">Birth Certificate</mat-option>
                      <mat-option value="Marriage Certificate">Marriage Certificate</mat-option>
                      <mat-option value="Education Certificate">Education Certificate</mat-option>
                      <mat-option value="Passport Size">Passport Size</mat-option>

                    </mat-select>
                  </mat-form-field>                <hr>
                <input class="form-control" type="file" name="file" (change)="onFileSelected($event)" />
            </div>
            <div class="card-footer">
                <button class="btn btn-success" type="submit" [disabled]="!myForm.valid">Upload</button>

            </div>
        </form>
          </div>
</ng-template>
            </div>
        </div>
        <!-- /Main Content -->
    </div>
    <!-- /Page Content -->