<div id="content">
    <!-- Top Navigation -->
  
    <!-- /Top Navigation -->
    <!-- Breadcrumb -->
    <!-- Page Title -->
    <div class="row no-margin-padding" id="header">
      <div class="col-md-6">
            <h3 class="block-title">Add Applicant</h3>
        </div>
        <div class="col-md-6">
            <ol class="breadcrumb">						
                <li class="breadcrumb-item">
                    <a href="index.html">
                        <span class="ti-home"></span>
                    </a>
                </li>
                <li class="breadcrumb-item">Applicants</li>
                <li class="breadcrumb-item active">Add Applicant</li>
            </ol>
        </div>
    </div>
    <!-- /Page Title -->

    <!-- /Breadcrumb -->
    <!-- Main Content -->
    <div class="container-fluid">

        <div class="row">
            <!-- Widget Item -->
            <div class="col-md-12">
                <div class="widget-area-2 proclinic-box-shadow">
                    <h3 class="widget-title">Add Applicant</h3>
                    <form #stepperForm="ngForm">
                        <mat-horizontal-stepper #stepper>
                          <!-- Step 1: Applicant Details -->
                          <mat-step>
                            <!-- <form (ngSubmit)="uploadFile()" enctype="multipart/form-data"> -->

                            <ng-template matStepLabel>Applicant</ng-template>
                            <div class="row">
                              <div class="col-md-3">
                                <mat-form-field>
                                  <mat-label>Full Name</mat-label>
                                  <input matInput placeholder="Full Name" name="fullName" [(ngModel)]="applicantDetails.applicantfullName" required>
                                </mat-form-field>
                              </div>
                              <div class="col-md-3">
                                <mat-form-field>
                                  <mat-label>Email</mat-label>
                                  <input matInput placeholder="Email" name="email" [(ngModel)]="applicantDetails.applicantemailAddress" required>
                                </mat-form-field>
                              </div>
                              <div class="col-md-3">
                                <mat-form-field>
                                  <mat-label>Home Address</mat-label>
                                  <input matInput placeholder="Home Address" name="homeAddress" [(ngModel)]="applicantDetails.applicanthomeAddress" required>
                                </mat-form-field>
                              </div>
                              <div class="col-md-3">
                                <mat-form-field>
                                  <mat-label>Business Number</mat-label>
                                  <input matInput placeholder="Business Number" name="businessNumber" [(ngModel)]="applicantDetails.applicantbusinessNumber" required>
                                </mat-form-field>
                              </div>
                              <div class="col-md-3">
                                <mat-form-field>
                                  <mat-label>Phone Number</mat-label>
                                  <input matInput placeholder="Phone Number" name="phoneNumber" [(ngModel)]="applicantDetails.applicantphoneNumber" required>
                                </mat-form-field>
                              </div>
                              <div class="col-md-3">
                                <mat-form-field>
                                  <mat-label>Website</mat-label>
                                  <input matInput placeholder="Website" name="website" [(ngModel)]="applicantDetails.applicantwebsite" >
                                </mat-form-field>
                              </div>
                              <div class="col-md-3">
                                <mat-form-field>
                                  <mat-label>National ID Number</mat-label>
                                  <input matInput placeholder="National ID Number" name="nationalIdNumber" [(ngModel)]="applicantDetails.applicantnationalIdNumber" required>
                                </mat-form-field>
                              </div>
                              <div class="col-md-3">
                                <mat-form-field>
                                  <mat-label>Bank Name</mat-label>
                                  <input matInput placeholder="Bank name" name="bank_name" [(ngModel)]="applicantDetails.bank_name" >
                                </mat-form-field>
                              </div>
                              <div class="col-md-3">
                                <mat-form-field>
                                  <mat-label>Bank Account No</mat-label>
                                  <input matInput placeholder="Bank Account No." name="bankAccount_no" [(ngModel)]="applicantDetails.bankAccount_no" >
                                </mat-form-field>
                              </div>
                              <div class="col-md-3">
                                <mat-form-field>
                                  <mat-label>Passport Number</mat-label>
                                  <input matInput placeholder="Passport Number" name="passportNumber" [(ngModel)]="applicantDetails.applicantpassportNumber" required>
                                </mat-form-field>
                              </div>
                              <div class="col-md-3">
                                <mat-form-field>
                                  <mat-label>Occupation</mat-label>
                                  <input matInput placeholder="Occupation" name="occupation" [(ngModel)]="applicantDetails.applicantoccupation">
                                </mat-form-field>
                              </div>
                              <div class="col-md-3">
                                <mat-form-field>
                                  <mat-label>Marital Status</mat-label>
                                  <mat-select placeholder="Marital Status" name="maritalStatus" [(ngModel)]="applicantDetails.applicantmarriedStatus" required>
                                    <mat-option value="married">Married</mat-option>
                                    <mat-option value="single">Single</mat-option>
                                  </mat-select>
                                </mat-form-field>
                              </div>
                              <div class="col-md-3">
                                <mat-form-field>
                                  <mat-label>Country to Vist</mat-label>
                                  <mat-select placeholder="Nationality" name="Applicantdetailscountry_to_visit" [(ngModel)]="applicantDetails.country_to_visit" required>
                                    <mat-option *ngFor="let country of countries" [value]="country">{{ country }}</mat-option>
                                  </mat-select>
                                </mat-form-field>
                              </div>
                              <div class="col-md-3">
                                <mat-form-field>
                                  <mat-label>Gender</mat-label>
                                  <mat-select placeholder="Marital Status" name="maritalStatus" [(ngModel)]="applicantDetails.applicantgender" required>
                                    <mat-option value="Male">Male</mat-option>
                                    <mat-option value="Female">Female</mat-option>
                                  </mat-select>
                                </mat-form-field>
                              </div>

                                <!-- <div class="col-md-3">
                                  <label for="profileImage">Upload National ID pdf</label>
                                  <input type="file" name="file" (change)="onFileSelected($event)" />
                                  <button type="submit">Upload</button>
                                </div> -->
                            
                                 
                                </div>
                                
                                
                            
                              
                              
                           
                            <div>
                              <button mat-button (click)="stepper.next()">Next</button>
                              <!-- <button (click)="save2()">save</button> -->

                            </div>
                          <!-- </form> -->
                          </mat-step>
                      
                          <!-- Step 2: Wife Details (if applicable) -->
                          <mat-step>
                            <ng-template matStepLabel>Husband / Wife</ng-template>
                            <div class="row">
                              <div class="col-md-3">
                                <mat-form-field>
                                  <mat-label>Full Name</mat-label>
                                  <input matInput placeholder="Full Name" name="wifeName" [(ngModel)]="wifeDetails.wifeName">
                                </mat-form-field>
                              </div>                           
                              <div class="col-md-3">
                                <mat-form-field>
                                  <mat-label>Nationality</mat-label>
                                  <mat-select placeholder="Nationality" name="wifeNationality" [(ngModel)]="wifeDetails.wifenationality">
                                    <mat-option *ngFor="let country of countries" [value]="country">{{ country }}</mat-option>
                                  </mat-select>
                                </mat-form-field>
                              </div>
                              
                              <div class="col-md-3">
                                <mat-form-field>
                                  <mat-label>Home Address</mat-label>
                                  <input matInput placeholder="Home Address" name="wifeHomeAddress" [(ngModel)]="wifeDetails.wifehomeAddress">
                                </mat-form-field>
                              </div>
                              <div class="col-md-3">
                                <mat-form-field>
                                  <mat-label>Occupation</mat-label>
                                  <input matInput placeholder="Occupation" name="wifeOccupation" [(ngModel)]="wifeDetails.wifeoccupation">
                                </mat-form-field>
                              </div>
                              <div class="col-md-6">
                                <mat-form-field>
                                  <mat-label>Date of Birth</mat-label>
                                  <input matInput [matDatepicker]="picker" placeholder="Date of Birth" name="wifeDateOfBirth" [(ngModel)]="wifeDetails.wifedateOfBirth">
                                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                  <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>
                              </div>
                              
                            </div>
                            <div>
                              <button mat-button (click)="stepper.previous()">Back</button>
                              <button mat-button (click)="stepper.next()">Next</button>

                            </div>
                     
                          </mat-step>
                      
                          <!-- Step 3: Applicant Father's Details -->
                          <mat-step>
                            <ng-template matStepLabel>Father</ng-template>
                            <div class="row">
                              <div class="col-md-3">
                                <mat-form-field>
                                  <mat-label>Full Name</mat-label>
                                  <input matInput placeholder="Full Name" name="fatherFullName" [(ngModel)]="fatherDetails.fatherfullName" required>
                                </mat-form-field>
                              </div>
                         
                              <div class="col-md-3">
                                <mat-form-field>
                                  <mat-label>Marriage Status</mat-label>
                                  <mat-select placeholder="Marriage Status" name="fathermarriedStatus" [(ngModel)]="fatherDetails.fathermarriedStatus" required>
                                    <mat-option value="married">Married</mat-option>
                                    <mat-option value="single">Single</mat-option>
                                    <mat-option value="divorced">Divorced</mat-option>
                                  </mat-select>
                                </mat-form-field>
                              </div>

                              <div class="col-md-3">
                                <mat-form-field>
                                  <mat-label>Nationality</mat-label>
                                  <mat-select placeholder="Nationality" name="fathernationality" [(ngModel)]="fatherDetails.fathernationality" required>
                                    <mat-option *ngFor="let country of countries" [value]="country">{{ country }}</mat-option>
                                  </mat-select>
                                </mat-form-field>
                              </div>
                              <div class="col-md-3">
                                <mat-form-field>
                                  <mat-label>Home Address</mat-label>
                                  <input matInput placeholder="Home Address" name="fatherHomeAddress" [(ngModel)]="fatherDetails.fatherhomeAddress">
                                </mat-form-field>
                              </div>
                              <div class="col-md-3">
                                <mat-form-field>
                                  <mat-label>Occupation</mat-label>
                                  <input matInput placeholder="Occupation" name="fatherOccupation" [(ngModel)]="fatherDetails.fatheroccupation" >
                                </mat-form-field>
                              </div>
                              <div class="col-md-5">
                                <mat-form-field>
                                  <mat-label>Date of Birth</mat-label>
                                  <input matInput [matDatepicker]="picker2" placeholder="Date of Birth" name="fatherDateOfBirth" [(ngModel)]="fatherDetails.fatherdateOfBirth" required>
                                  <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                  <mat-datepicker #picker2></mat-datepicker>
                                </mat-form-field>
                              </div>
                              
                            </div>
                            <div>
                              <button mat-button (click)="stepper.previous()">Back</button>
                              <button mat-button (click)="stepper.next()">Next</button>
                            </div>
                          </mat-step>
                      
                          <!-- Step 4: Applicant Mother's Details -->
                          <mat-step>
                            <ng-template matStepLabel>Mother</ng-template>
                            <div class="row">
                              <div class="col-md-3">
                                <mat-form-field>
                                  <mat-label>Full Name</mat-label>
                                  <input matInput placeholder="Full Name" name="motherFullName" [(ngModel)]="motherDetails.motherfullName" required>
                                </mat-form-field>
                              </div>
                             
                              
                              <div class="col-md-3">
                                <mat-form-field>
                                  <mat-label>Marriage Status</mat-label>
                                  <mat-select placeholder="Marriage Status" name="motherMarriageStatus" [(ngModel)]="motherDetails.mothermarriedStatus" required>
                                    <mat-option value="married">Married</mat-option>
                                    <mat-option value="single">Single</mat-option>
                                    <mat-option value="divorced">Divorced</mat-option>
                                  </mat-select>
                                </mat-form-field>
                              </div>
                              <div class="col-md-3">
                                <mat-form-field>
                                  <mat-label>Nationality</mat-label>
                                  <mat-select placeholder="Nationality" name="mothernationality" [(ngModel)]="motherDetails.mothernationality" required>
                                    <mat-option *ngFor="let country of countries" [value]="country">{{ country }}</mat-option>
                                  </mat-select>
                                </mat-form-field>
                              </div>
                              <div class="col-md-3">
                                <mat-form-field>
                                  <mat-label>Home Address</mat-label>
                                  <input matInput placeholder="Home Address" name="motherHomeAddress" [(ngModel)]="motherDetails.motherhomeAddress" required>
                                </mat-form-field>
                              </div>
                              <div class="col-md-3">
                                <mat-form-field>
                                  <mat-label>Occupation</mat-label>
                                  <input matInput placeholder="Occupation" name="motherOccupation" [(ngModel)]="motherDetails.motheroccupation" required>
                                </mat-form-field>
                              </div>
                              <div class="col-md-6">
                                <mat-form-field>
                                  <mat-label>Date of Birth</mat-label>
                                  <input matInput [matDatepicker]="picker3" placeholder="Date of Birth" name="motherDateOfBirth" [(ngModel)]="motherDetails.motherdateOfBirth" required>
                                  <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                                  <mat-datepicker #picker3></mat-datepicker>
                                </mat-form-field>
                              </div>
                            </div>
                            <div>
                              <button mat-button (click)="stepper.previous()">Back</button>
                              <button mat-button type="submit" (click)="Save()" [disabled]="!stepperForm.valid">Submit</button>
                            </div>
                          </mat-step>
                          
                        </mat-horizontal-stepper>
                      </form>
                      
                      
                </div>
            </div>
            <!-- /Widget Item -->
        </div>
    </div>
    <!-- /Main Content -->
</div>