<div id="content">

    <div class="row no-margin-padding" id="header">
        <div class="col-md-6">
            <h3 class="block-title">Investors</h3>
        </div>
        <div class="col-md-6">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="index.html">
                        <span class="ti-home"></span>
                    </a>
                </li>
                <li class="breadcrumb-item">Investors</li>
                <li class="breadcrumb-item active">Edit Investors</li>
            </ol>
        </div>
    </div>
    <div class="container-fluid watermark-container">
      <div class="watermark"></div>
      <!-- Your content here -->
    </div>
    <div class="container-fluid " >

        <div class="row">
            <!-- Widget Item -->
            <div class="col-md-12">
                <div class="widget-area-2 proclinic-box-shadow " id="investor-details-container" >
                    <h3 class="widget-title">Investors Details</h3>
                    
                    <div class="row">
                        <div class="col-md-12">
                            <mat-card class="example-card" >
                                <mat-card-header >
                                  <div mat-card-avatar class="example-header-image"></div>
                                  <div class="avatar-container" >
                                    <img *ngIf="profileImage" [src]="getBase64Image(imageFile[0])" class="profile-img" alt="Profile Image" />
                                    <div *ngIf="!profileImage" class="avatar-placeholder mat-elevation-z2">
                                      <mat-icon>account_circle</mat-icon>
                                    </div>
                                  </div> 
                                </mat-card-header><hr>
                                <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
                                <div class="d-flex justify-content-between">
                                    <div class="col">
                                        <button mat-mini-fab matTooltip="Warn" color="primary"
                                        (click)="uploadImage() " *ngIf="imageAvailable">
                                        <mat-icon>upload</mat-icon></button>
                                    <button  mat-mini-fab matTooltip="Warn" color="warn"
                                        (click)="deleteImage(InvestorsImageFileModel.investor_image_fileid) "*ngIf="imageunAvailable">
                                        <mat-icon >delete</mat-icon></button>
                                        <!-- <button mat-mini-fab matTooltip="Download Image" color="primary" (click)="saveImage()" *ngIf="imageunAvailable">
                                            <mat-icon>save_alt</mat-icon>
                                          </button> -->
                                    </div>
                                </div>
                                <mat-card-content>
                                  <table class="table table-striped">
                                      <tr>
                                        <th>Full Name</th>
                                        <td><input type="text" name="" id="" class="form-control" [(ngModel)]="inveestorsData.investorsfullName" ></td>
                                      </tr>
                                      <tr>
                                        <th>Email</th>
                                        <td><input type="text" class="form-control" [(ngModel)]="inveestorsData.investorsemailAddress"></td>
                                      </tr>
                                      <tr>
                                        <th>Address</th>
                                        <td><input type="text" class="form-control" [(ngModel)] ="inveestorsData.investorshomeAddress"></td>
                                      </tr>
                                      <tr>
                                        <th>Gender</th>
                                       <td>
                                        <select class="form-control" aria-label="Default select example" [(ngModel)]="inveestorsData.investorsgender "equired>
                                          <option selected>{{inveestorsData.investorsgender}}</option>
                                          <option   value="Male">Male</option>
                                          <option   value="Female">Female</option>
                                       </select>  
                                       </td>                             
                                     </tr>
                                      <tr>
                                        <th>Phone</th>
                                        <td><input type="text" class="form-control" [(ngModel)]="inveestorsData.investorsphoneNumber"></td>
                                      </tr>
                                      <tr>
                                        <th>NIDA</th>
                                        <td><input type="text" class="form-control" [(ngModel)]="inveestorsData.investorsnationalIdNumber"></td>
                                      </tr>
                                      <tr>
                                        <th>Passport</th>
                                        <td><input type="text" class="form-control" [(ngModel)]="inveestorsData.investorspassportNumber"></td>
                                      </tr>
                                      <tr>
                                        <th>Status</th>
                                        <td>
                                          <select class="form-control" aria-label="Default select example" [(ngModel)]="inveestorsData.status"equired>
                                            <option selected>{{inveestorsData.status }}</option>
                                            <option   value="Approved">Approved</option>
                                            <option   value="Pending">Pending</option>
                                         </select>  
                                        </td>
                                      </tr>
                                      <tr>
                         
                                        <th> 
                                          Invoice Date 
                                       </th>
                                       <td>
                                        <mat-form-field>
                                          <input matInput [matDatepicker]="picker" placeholder="Select Date" name="" [(ngModel)]="inveestorsData.packageDate">
                                          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                          <mat-datepicker #picker></mat-datepicker>
                                        </mat-form-field>
                                        
                                                                                                                    
                                       </td>
                                  </table>
                            
                                </mat-card-content>
                                <mat-card-actions>
                                    <button mat-icon-button color="primary" (click)="updateInvestors(inveestorsData)"><mat-icon>update</mat-icon></button>
                                </mat-card-actions>
                              </mat-card>
                        </div><hr>
                       
                    </div>
                    <div class="col-md-12">
                      <div class="table-responsive" >
                        <table class="table table-striped">
                         
                          <tbody>
                            
                            <tr>
                              <th>Kin Type</th>
                              <td><input type="text" name="" id="" class="form-control" [(ngModel)]="kinData.kin_types" ></td>
                            </tr>
                            <tr>
                              <th>Full Name</th>
                              <td><input type="text" name="" id="" class="form-control" [(ngModel)]="kinData.kinfull_name" ></td>
                            </tr>
                             <tr>
                              <th>Address</th>
                              <td><input type="text" name="" id="" class="form-control" [(ngModel)]="kinData.kinemail_address" ></td>
                            </tr>
                            <tr>
                              <th>National ID</th>
                              <td><input type="text" name="" id="" class="form-control" [(ngModel)]="kinData.kinnational_id_number" ></td>
                            </tr>
                            <tr>
                              <th>Passport No </th>
                              <td><input type="text" name="" id="" class="form-control" [(ngModel)]="kinData.kinpassport_number" ></td>
                            </tr>
                            <tr>
                              <th>Phone </th>
                              <td><input type="text" name="" id="" class="form-control" [(ngModel)]="kinData.kinphone_number" ></td>
                            </tr>
                           
                          </tbody>
                          <tr>
                            <td>
                              <button mat-icon-button color="primary" (click)="updateKin(kinData)"><mat-icon>update</mat-icon></button>
                            </td>
                          </tr>
                        </table><hr>
                        <table class="table table-striped">
                   
                          <tbody>
                          
                            <tr>
                              <th>
                                Bank Name
                              </th>
                              <td><input type="text" name="" id="" class="form-control" [(ngModel)]="bankData.bank_name" ></td>

                            </tr>
                            <tr>
                              <th>
                                Bank Account No.
                              </th>
                              <td><input type="text" name="" id="" class="form-control" [(ngModel)]="bankData.bank_account_no" ></td>

                            </tr>
                            <tr>
                              <th>
                                Account Holders :
                              </th>
                              <td><input type="text" name="" id="" class="form-control" [(ngModel)]="bankData.bank_account_holders" ></td>

                            </tr>
                            <tr>
                              <th>
                               Bank Swift Code : 
                              </th>
                              <td><input type="text" name="" id="" class="form-control" [(ngModel)]="bankData.bank_swift_code" ></td>

                            </tr>
                            <tr>
                              <th>
                               Currency
                              </th>
                              <td>
                                <input type="text" name="" id="" class="form-control" [(ngModel)]="bankData.bank_account_currence" >
                                
                              </td>

                            </tr>
                          </tbody>
                          <tr>
                            <td>
                              <button mat-icon-button color="primary" (click)="updateBank(bankData)"><mat-icon>update</mat-icon></button>
                            </td>
                          </tr>
                        </table>
                        <hr>
                        <!-- <table>
                          <tr>
                         
                              <th><mat-form-field>
                                <input matInput [matDatepicker]="picker" placeholder="{{investors_packageData.package_date}}" name=""  [(ngModel)]="investors_packageData.packageDate">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                              </mat-form-field>
                            </th>
                          <td>
                            <button mat-icon-button color="primary" (click)="updateInvest_pack(investors_packageData)"><mat-icon>update</mat-icon></button>
                          </td>
                          </tr>
                        </table> -->
                     
                      </div>
                    </div>
                  
                      
                      
                </div>
            
                  
            </div>
            <!-- /Widget Item -->
            <div class="container-fluid ">
              <div class="row">
                <div class="col-md-12">
                  <div class="card">
                    <div class="card-header">
                      <button mat-icon-button color="primary" (click)="edit()"><mat-icon>edit</mat-icon></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>

</div>
<ng-template #addImageFile>
    <div class="card">
        <form #myImageForm="ngForm" (ngSubmit)="SaveInvestorImage()" enctype="multipart/form-data">

            <div class="card-header">
                <h4>Upload File</h4>
            </div>
            <div class="card-body">
               
                <hr>
                <input class="form-control" type="file" name="file" (change)="onImageFileSelected($event)" />
            </div>
            <div class="card-footer">
                <button mat-button mat-raised-button color="primary" type="submit" [disabled]="!myImageForm.valid"> <mat-icon>upload-file</mat-icon></button>
            </div>
        </form>
    </div>
</ng-template>