      <!-- Breadcrumb -->
        <!-- Page Title -->
        <div class="row no-margin-padding" id="header">
            <div class="col-md-6">
                <h3 class="block-title">Quick Statistics</h3>
            </div>
            <div class="col-md-6">
                <ol class="breadcrumb custom-breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="index.html">
                            <span class="ti-home"></span>
                        </a>
                    </li>
                    <li class="breadcrumb-item active">Dashboard</li>
                </ol>
            </div>
        </div>
        <!-- /Page Title -->

        <!-- /Breadcrumb -->
        <!-- Main Content -->
        <div class="container-fluid home">


            <div class="row">
                <!-- Widget Item -->
                <div class="col-md-4" *ngIf="addminOnly">
                    <div class="widget-area proclinic-box-shadow color-red">
                        <div class="widget-left">
                            <span class="ti-tag"></span>
                        </div>
                        <div class="widget-right">
                            <h4 class="wiget-title">Applicants</h4>
                            <span class="numeric color-red">{{total_applicants}}</span>
                            <!-- <p class="inc-dec mb-0"><span class="ti-angle-up"></span> +20% Increased</p> -->
                        </div>
                    </div>
                </div>
                <div class="col-md-4" *ngIf="userOnly">
                    <div class="widget-area proclinic-box-shadow color-red">
                        <div class="widget-left">
                            <span class="ti-tag"></span>
                        </div>
                        <div class="widget-right">
                            <h4 class="wiget-title">Applicants</h4>
                            <span class="numeric color-red">{{totalApplicantByUser}}</span>
                            <!-- <p class="inc-dec mb-0"><span class="ti-angle-up"></span> +20% Increased</p> -->
                        </div>
                    </div>
                </div>
                <!-- /Widget Item -->
                <!-- Widget Item -->
                <div class="col-md-4" *ngIf="addminOnly">
                    <div class="widget-area proclinic-box-shadow color-green">
                        <div class="widget-left">
                            <span class="ti-bar-chart"></span>
                        </div>
                        <div class="widget-right">
                            <h4 class="wiget-title">Approval</h4>
                            <span class="numeric color-green">{{totalApprovedByAdmin}}</span>
                            <!-- <p class="inc-dec mb-0"><span class="ti-angle-down"></span> -15% Decreased</p> -->
                        </div>
                    </div>
                </div>
                <div class="col-md-4"  *ngIf="userOnly" >
                    <div class="widget-area proclinic-box-shadow color-green">
                        <div class="widget-left">
                            <span class="ti-bar-chart"></span>
                        </div>
                        <div class="widget-right">
                            <h4 class="wiget-title">Approval</h4>
                            <span class="numeric color-green">{{totalApprovedByUser}}</span>
                            <!-- <p class="inc-dec mb-0"><span class="ti-angle-down"></span> -15% Decreased</p> -->
                        </div>
                    </div>
                </div>
                <!-- /Widget Item -->
                <!-- Widget Item -->
                <div class="col-md-4" *ngIf="addminOnly">
                    <div class="widget-area proclinic-box-shadow color-blue">
                        <div class="widget-left">
                            <span class="ti-user"></span>
                        </div>
                        
                        <div class="widget-right">
                            <h4 class="wiget-title">Users</h4>
                            <span class="numeric color-blue">{{totalUsers}}</span>
                            <!-- <p class="inc-dec mb-0"><span class="ti-angle-up"></span> +10% Increased</p> -->
                        </div>
                    </div>
                </div>
                <div class="col-md-4" *ngIf="userOnly">
                    <div class="widget-area proclinic-box-shadow color-yellow">
                        <div class="widget-left">
                            <span class="ti-user"></span>
                        </div>
                        
                        <div class="widget-right">
                            <h4 class="wiget-title">Pending</h4>
                            <span class="numeric color-yellow">{{ totalPendingByuser}}</span>
                            <!-- <p class="inc-dec mb-0"><span class="ti-angle-up"></span> +10% Increased</p> -->
                        </div>
                    </div>
                </div>
                <div class="col-md-4" *ngIf="addminOnly">
                    <div class="widget-area proclinic-box-shadow color-yellow">
                        <div class="widget-left">
                            <span class="ti-user"></span>
                        </div>
                        
                        <div class="widget-right">
                            <h4 class="wiget-title">Pending</h4>
                            <span class="numeric color-yellow">{{ totalPending}}</span>
                            <!-- <p class="inc-dec mb-0"><span class="ti-angle-up"></span> +10% Increased</p> -->
                        </div>
                    </div>
                </div>
                <!-- /Widget Item -->
            </div>


        </div>
        <!-- /Main Content -->